
        .flex1 {
            height: 100%;
            border: 2px solid #ef0c0c;
            background-color: gray;
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            align-content: flex-start;
        }
        .flex2 {
            height: 100%;
            border: 2px solid #1cd5d0;
            background-color: gray;
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            align-content: flex-start;
            justify-content: center;
            color: salmon;
            text-align: center;
        }
    