
        #main {
            width: 200px;
            height: 200px;
            border: 1px solid #c3c3c3;
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;
            flex-wrap: wrap;
        }

        #main div {
            display: flex;
            width: 50px;
            height: 50px;
        }
        #ff{
            width: 150px;
            height: 50px;;
        }
    